<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-brand btn btn-dark" (click)="onNavigate('/')">Cloud Bros</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class=" mr-auto">
        </div>
        <div class="text-right">
            <ul class="navbar-nav">
                <li *ngIf="title != '/services'" class="nav-item ">
                    <button (click)="onNavigate('/services')" class="btn btn-dark nav-link">SERVICES</button>
                </li>
                <li *ngIf="title == '/services'" class="nav-item active">
                    <button class="btn btn-dark nav-link">SERVICES</button>
                </li>
                <!-- SERVICES -->


                <li *ngIf="title != '/about-us'" class="nav-item ">
                    <button (click)="onNavigate('/about-us')" class="btn btn-dark nav-link" href="#">ABOUT US</button>
                </li>
                <li *ngIf="title == '/about-us'" class="nav-item active">
                    <button  class="btn btn-dark nav-link" href="#">ABOUT US</button>
                </li>
                <!-- company -->



                <li *ngIf="title != '/partners'" class="nav-item ">
                    <button (click)="onNavigate('/partners')" class="btn btn-dark nav-link" href="#">PARTNERS</button>
                </li>
                <li *ngIf="title == '/partners'" class="nav-item active">
                    <button  class="btn btn-dark nav-link" href="#">PARTNERS</button>
                </li>
                <!-- clients -->

                <li *ngIf="title != '/careers'" class="nav-item ">
                    <button (click)="onNavigate('/careers')" class="btn btn-dark nav-link" href="#">CAREERS</button>
                </li>
                <li *ngIf="title == '/careers'" class="nav-item active">
                    <button [routerLink]="['/careers']" class="btn btn-dark nav-link" href="#">CAREERS</button>
                </li>
                <!-- careers -->


                <li *ngIf="title != '/contact-us'" class="nav-item ">
                    <button (click)="onNavigate('/contact-us')" class="btn btn-dark nav-link" href="#">CONTACT US</button>
                </li>
                <li *ngIf="title == '/contact-us'" class="nav-item active">
                    <button  class="btn btn-dark nav-link" href="#">CONTACT US</button>
                </li>

                <!-- contact -->
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<div *ngIf="title != '/contact-us'" class="bg-success w-100 jumbotron mb-0 rounded-0">
    <div class="container">
        <div class="row text-white">
            <h2 class="col-9">See why everyone says "Cloud Bros"</h2>
            <!-- <button class="col-3">REQUEST A QUOTE</button> -->
            <button mat-stroked-button (click)="onNavigate('/contact-us')" class="col-3 text-success bg-white">REQUEST A
                QUOTE</button>
        </div>

    </div>
</div>
<div class="jumbotron bg-dark mb-0 rounded-0">
    <small class="text-white">@ 2018 Cloud Bros Consulting Services, LLC.</small>
</div>