.footer{
    height: 500px;
}


@media (min-width: 340px) { 
    .nav-button{
        font-size: 300%;
    }
 }
@media (min-width: 540px) { 
    .nav-button{
        font-size: 300%;
    }
 }

 @media (min-width: 720px) { 

    .nav-button{
        font-size: 300%;
    }
 }

@media (min-width: 992px) { 
    .nav-button{
        font-size: 150%;
    }
 }

@media (min-width: 1200px) { 
    .nav-button{
        font-size: 150%;
    }
 }

.fixed-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}