<!-- <div style="background-image: url(assets/img/contact/background.jpg); ; background-repeat: no-repeat; background-size: cover; "> -->
<button [routerLink]="['/solutions']" class="section w-100 btn btn-dark" style="background-image: url(assets/img/contact/background.jpg); ; background-repeat: no-repeat; background-size: cover; ">
    <h1>How technology solutions <br><b>are supposed to be delivered.</b></h1>
</button>
<div class="w-100 text-center  bg-white">
    <div class="container">
        <br>
        <h1>Cloud Bros's Services</h1>
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div (click)="onToSolution()" class="card border-0 btn">
                    <img src="assets/img/home/security.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3>Security</h3>
                        <p class="card-text">Security is hard. Vulnerabilities are not going away. Hackers haven’t
                            packed up and taken on other lines of work. You already know this, but you are here because
                            you need some help to improve your security posture. That’s where Bravo senior security
                            consultants can help.</p>
                    </div>
                </div>
                <!-- </button> -->
            </div>

            <div class="col-lg-3 col-md-6">
                <div (click)="onToSolution()" class="card border-0 btn ">
                    <img src="assets/img/home/mobility.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3>Mobility</h3>
                        <p class="card-text">The average employee has 2.5 devices on them while at work. Ensuring that
                            your employees
                            can do their job well from a selection of devices requires a combination of planning,
                            testing, and deployment know-how. Bravo's mobility group solves challenging wireless issues
                            and eases BYOD fears.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div (click)="onToSolution()" class="card border-0 btn">
                    <img src="assets/img/home/infrastructure.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3>Infrastructure</h3>
                        <p class="card-text">It's your backbone of your business, so your infrastructure has to support
                            your business needs. The network must outperform to support your growth, your servers have
                            to be highly available & scalable, and it must come together and just "work." Our team can
                            design, implement, and manage it for you.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div (click)="onToSolution()" class="card border-0 btn">
                    <img src="assets/img/home/cloud.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3>Cloud Services</h3>
                        <p class="card-text">Companies seek the agility and efficiency promised with cloud computing
                            but still desire the visibility and control they have in their data center. We understand
                            this and can help with the transition while leveraging the investments in architecture,
                            systems and knowledge you’ve already made.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>