<div class="bg-primary jumbotron mb-0 rounded-0 text-center">
    <h1 class="text-white form-group">Careers</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="text-white">Cloud Bros is always searching for the most passionate, creative, and intelligent
                individuals to
                join us. If you are an experienced IT or security professional looking for your next challenge and you
                think we
                are right for you, please email us your resume.</p>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div>
            <br>
            <h4 class="text-success form-group">USA</h4>
            <div>
                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Operations Admin</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Part Time</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Consulting Network Engineer</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Full Time</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Consulting Network Engineer</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Contract/Contract to Hire</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Consulting Network Security Engineer</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Full Time</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Consulting Network Security Engineer</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Contract/Contract to Hire</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Consulting Systems Engineer</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Contract/Contract to Hire</p>
                    </div>
                </div>
            </div>

            <hr>

            <h4 class="text-success form-group">International</h4>
            <div>
                <div class="row form-group">
                    <div class="col">
                        <h6 class="text-success">Network Engineer - L1</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Full Time</p>
                    </div>
                </div>

                <div class="row ">
                    <div class="col">
                        <h6 class="text-success">Network Engineer - L2</h6>
                    </div>
                    <div class="col ">
                        <p class="text-right">Full Time</p>
                    </div>
                </div>

                <br>

            </div>

        </div>
    </div>
</div>