<div class="jumbotron text-center bg-primary mb-0">
    <h1 class="text-white">Contact Us</h1>
</div>

<div style="background-image: url(assets/img/contact/background.jpg); ; background-repeat: no-repeat; background-size: cover; ">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-white form-group">Corporate Headquarters</h3>
                <p class="text-white form-group">2100 Geng Rd Suite 210<br>
                    Palo Alto, CA 94303</p>

                <a href="tel:408-307-9783" class="form-group text-white">(408) 307 9783</a><br><br>

                <a href="mailto:inquiries@cloudbros.com?Subject=Hello%20again" target="_top">inquiries@cloudbros.com</a>
            </div>

            <div class="col">
                <h3 class="text-white">Request a Quote</h3>

                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label class="text-white">Full Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" required>
                        <div *></div>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Email <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="Email" required>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Phone <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="(xxx) xxx - xxxx" required>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Company <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="" placeholder="Company Name" required>
                    </div>

                    <div class="form-group">
                        <label class="text-white">Website</label>
                        <input type="text" class="form-control" id="" placeholder="Website">
                    </div>

                    <div class="form-group">
                        <label class="text-white">Comment <span class="text-danger">*</span></label>
                        <textarea class="form-control" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
    <br>
</div>