<div class="jumbotron bg-success text-center mb-0">
    <br>
    <h1 class="text-white">What we do</h1>
    <h4 class="text-white">Bravo provides customized technology solutions around multiple domains</h4>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card bg-success border-0">
                    <img src="assets/img/home/security.png" class="card-img-top" alt="..." class="bg-success iconBy4">
                    <div class="card-body">
                        <h3 class="card-text text-white">Security</h3>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <div class="card bg-success border-0">
                    <img src="assets/img/home/mobility.png" class="card-img-top" alt="..." class="bg-success iconBy4">
                    <div class="card-body">
                        <h3 class="card-text text-white">Mobility</h3>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <div class="card bg-success border-0">
                    <img src="assets/img/home/infrastructure.png" class="card-img-top" alt="..." class="bg-success iconBy4">
                    <div class="card-body">
                        <h3 class="card-text text-white">Infrastructure</h3>
                    </div>
                </div>

            </div>
            <div class="col-3">
                <div class="card bg-success border-0">
                    <img src="assets/img/home/cloud.png" class="card-img-top" alt="..." class="bg-success iconBy4">
                    <div class="card-body">
                        <h3 class="card-text text-white">Cloud Services</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="bg-dark text-center">
    <br>
    <h1 class="text-white">How we do it</h1>
    <p class="text-white">We bring top talent, spend time listening to the customer requirements, and are flexible to
        meet the needs of the customer by engaging through different models </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-dark border-0">
                    <img src="assets/img/solutions/managedServices.png" class="card-img-top img-thumbnail" alt="..."
                        class="bg-dark iconBy2">
                    <div class="card-body">
                        <h3 class="card-text text-white">Managed Services</h3>
                        <p class="card-text text-white">Bravo can monitor and manage your infrastructure from our
                            24x7x365 Operations Center, so you can focus on what you want to do - run your business.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark border-0">
                    <img src="assets/img/solutions/consulting.png" class="card-img-top img-thumbnail" alt="..." class="bg-dark iconBy2">
                    <div class="card-body">
                        <h3 class="card-text text-white">Consulting Services</h3>
                        <p class="card-text text-white">Bravo Consultants and Architects scope out your project to give
                            you the enterprise result you are looking for, and make you look like a champion.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="text-center bg-white mb-0">
    <div class="container">
        <br>
        <h1 class="form-group">Security</h1><br>
        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Network Security</h3>
                <p>Our depth and breadth of knowledge across firewalls, IPS, VPNs, APTs, and all other acronyms can
                    help
                    button you up.</p>
            </div>
            <div class="col">
                <h3 class="text-success">NAC and BYOD</h3>
                <p>They are more than buzzwords to us, we have some of the deepest experience in enterprise deployments
                    globally. The more complexity, the more we thrive.</p>
            </div>

        </div>

        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Cloud Security</h3>
                <p>How are you securing what is going to the cloud? Do you have the appropriate controls on the
                    services you are even using?</p>
            </div>
            <div class="col">
                <h3 class="text-success">Security Assessments</h3>
                <p>Our certified Auditors can perform assessments using industry standard frameworks for compliance
                    mandates or better yet, real security.</p>
            </div>

        </div>

        <hr>

        <br>
        <h1 class="form-group">Mobility</h1><br>
        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Site Surveys</h3>
                <p>Let our wireless spectrum experts evaluate your enterprise for potential issues and help with
                    planning for future deployments.</p>
            </div>
            <div class="col">
                <h3 class="text-success">Wireless Infrastructure</h3>
                <p>Deploying wireless in the enterprise successfully is not limited to access points and spectrum, but
                    identifying all use cases and then deploying for scale and performance.</p>
            </div>

        </div>

        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Mobile Device Management</h3>
                <p>We have experiences across multiple vendor tools to support the lifecycle of the mobile device
                    throughout the enterprise.</p>
            </div>
            <div class="col">
                <h3 class="text-success">Mobility Readiness Assessment</h3>
                <p>You want voice and video, BYOD and Guest access because your CIO heard some buzzwords at a
                    conference. What does it take to get you there?
                </p>
            </div>

        </div>

        <hr>

        <br>
        <h1 class="form-group">Infrastructure</h1><br>
        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Network Infrastructure</h3>
                <p>We design, build, and manage enterprise networks of all sizes. Route, Switch, Core, Access,
                    Datacenter - It's where we live.</p>
            </div>
            <div class="col">
                <h3 class="text-success">Servers and Virtualization</h3>
                <p>Whether your servers are physical or virtual, on-premises or somewhere else - our team has the
                    expertise across all operating systems and virtualization environments to meet your needs.</p>
            </div>

        </div>

        <div class="row form-group">
            <div class="col">
                <h3 class="text-success">Endpoint Services</h3>
                <p>We can help with managing endpoints from Imaging to Patching, Backup to Applications.
                </p>
            </div>
            <div class="col">
                <h3 class="text-success">Helpdesk</h3>
                <p>We provide Level 1 through Level 3 help desk to our enterprise customers. Our resources can be
                    onsite or remote based on customer requirements.
                </p>
            </div>

        </div>


        <br>
        <hr>
        <br>
        <h1 class="form-group">Cloud Services</h1><br>
        <div class="row ">
            <div class="col">
                <h3 class="text-success">Microsoft Office365</h3>
                <p>As a cloud partner for Microsoft, our team can deploy and manage Microsoft Office365 solutions for
                    your enterprise to meet your requirements.</p>
            </div>
            <div class="col">
                <h3 class="text-success">Migration Services</h3>
                <p>Migrating enterprise applications to the cloud starts with a comprehensive strategy, and success is
                    achieved only through detailed planning and strong technical execution.</p>
            </div>

        </div>

        <br>
    </div>
</div>