<div class="bg-success text-center">
    <br>
    <h1 class="text-white form-group">Who is Bravo?</h1>
    <div class="row">
        <div class="col-3"></div>
        <p class="col-6 text-white form-group">Bravo is a fast growing technology services company that provides
            customized
            solutions around
            Security, Mobility, Infrastructure, and Cloud Services. We provide a combination of managed services and
            consulting services to our clients to solve problems and help them run more efficiently so they can focus
            on
            their business.</p><br>
    </div>
</div>

<div class="text-center bg-dark">
    <br>
    <div class="container">
        <h1 class="text-white form-group">What make us different?</h1>
        <br>

        <div class="row form-group">
            <div class="col-4">
                <div class="card bg-dark border-0">
                    <img src="assets/img/company/customers.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3 class="text-white">Our Customers</h3>
                        <p class="card-text text-white">We don't want to just provide services, or be just a little
                            better than other providers. We get called into situations where customers have not been
                            well taken care of and need quality help and guidance from our experts. Our customers rave
                            about our capabilities and their experience and bring new customers to us.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-dark border-0">
                    <img src="assets/img/company/partners.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3 class="text-white">Our Partners</h3>
                        <p class="card-text text-white">We have a great relationship with both our channel partners and
                            our vendor partners that we are not considered 'just another partner.' We give them such
                            attention and care so they see the customer response that in turn makes them more
                            successful. Vendors want us to support their solutions and resellers want us to extend
                            their capabilities.</p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card bg-dark border-0">
                    <img src="assets/img/company/team.png" class="card-img-top" alt="..." class="bg-dark icon">
                    <div class="card-body">
                        <h3 class="text-white">Our Team</h3>
                        <p class="card-text text-white">Our people are our strongest asset, they and the processes we
                            bring are the value we bring to the table. For this reason it is critical to make sure that
                            our team has the right skill sets for the job. We are a fun group of people that are
                            enjoying the experience of a significant amount of growth, and we help them grow their
                            careers quickly.</p>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-white text-left form-group"> We were born from within services organizations, we saw what we
            didn’t like about how service organizations ran,
            and decided to think different. Our goal is to provide a higher quality of service to our customers than
            what they
            are used to.</p>
        <p class="text-white text-left form-group">When we finish an engagement, there should be nothing left to say
            but “Bravo.”</p><br>
    </div>
</div>

<div class="container">
    <br>
    <h1 class="form-group">Our Approach</h1><br>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">assessment</mat-icon>
                Assess
            </ng-template>

            <br>
            <p>Each situation is different. We need to take a step back and look at all of the related areas to see how
                to
                best confirm that they will be successful. How will what they want to do impact their other services
                and
                business as a whole? Have they done all of the appropriate planning from a support perspective? Is
                someone
                in senior leadership driving an initiative that could end up costing him his job? We take the time to
                make
                sure that both the customer and Bravo will be set up for success - even if it means not taking on the
                project.</p>
        </mat-tab>
        <!-- Assess -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">build</mat-icon>
                Architect
            </ng-template>
            <br>
            <p>Design the right solution. People use this term loosely and we need to make sure that customers have a
                fully thought out solution that hits all communicated business and technical requirements. The real
                value of the architect is to design around the things that the customer has not communicated, and our
                experiences in several different environments allows us to build it once and build it right.</p>
        </mat-tab>
        <!-- Architect -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">schedule</mat-icon>
                Plan
            </ng-template>

            <br>
            <p>You can't just take a solution and drop it in and expect success, a fully thought out plan needs to be
                defined. What is the impact of this deployment and what are all of the moving parts to be successful.
                Is the Network team aligned with the desktop team? Is the Security team aligned with the application
                team? Risk management is a fundamental skill that we in security use as part of any project we take on.
                We plan around all inherent risks in any solution to minimize issues and maintain highest availability
                and performance and of course, customer satisfaction.</p>
        </mat-tab>
        <!-- Plan -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Implement
            </ng-template>

            <br>
            <p>Light it up. It's time to execute on everything that has been focused on. The team is ready, has the
                right caliber of resources on the project, and it's go time. We continue with constant communication,
                updates, and high quality deliverables that organizations can be proud to have.</p>
        </mat-tab>
        <!-- Implement -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Optimize
            </ng-template>

            <br>
            <p>Things can always be better. We take the time to investigate what else can be done to improve the
                solution, through process optimizations, future updates, or anything else our creative minds can come
                up with.</p>
        </mat-tab>
        <!-- Optimize -->

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                Maintain
            </ng-template>

            <br>
            <p>When our customers haven't got the bandwidth to operate at the levels they want to, we can come in and
                help keep things humming along. Whether through remote monitoring, management, or onsite resources at
                the customer headquarters - our team can jump in and help with that load of work.
            </p>
        </mat-tab>
    </mat-tab-group>

</div>
